<%= simple_form_for([@profile, @evaluation], url: @evaluation.id? ? investors_profile_evaluation_path(@profile, @evaluation) : investors_profile_evaluations_path ) do |f| %>
  <%= f.error_notification %>
  <div class = "img-container img-rounded full-padded">
    <%= f.input :title_review, label: false, placeholder: 'Title Review' %>
    <%= f.input :review, label: false, placeholder: 'Your Review. Please make sure to write a title above.', :input_html => {:rows => 10} %>
  </div>

  <br>
  <div class = "img-container img-rounded full-padded">
    <div class="row">
      <div class="col-sm-3 col-xs-12 rating">
        <input name="evaluation[rating_reputation]" id="rating_reputation5" type="radio" value="5" <% if @evaluation.rating_reputation == 5.0 %> checked="checked" <% end %>><label for="rating_reputation5"><i class="fa fa-star"></i></label>
        <input name="evaluation[rating_reputation]" id="rating_reputation4" type="radio" value="4" <% if @evaluation.rating_reputation == 4.0 %> checked="checked" <% end %>><label for="rating_reputation4"><i class="fa fa-star"></i></label>
        <input name="evaluation[rating_reputation]" id="rating_reputation3" type="radio" value="3" <% if @evaluation.rating_reputation == 3.0 %> checked="checked" <% end %>><label for="rating_reputation3"><i class="fa fa-star"></i></label>
        <input name="evaluation[rating_reputation]" id="rating_reputation2" type="radio" value="2" <% if @evaluation.rating_reputation == 2.0 %> checked="checked" <% end %>><label for="rating_reputation2"><i class="fa fa-star"></i></label>
        <input name="evaluation[rating_reputation]" id="rating_reputation1" type="radio" value="1" <% if @evaluation.rating_reputation == 1.0 %> checked="checked" <% end %>><label for="rating_reputation1"><i class="fa fa-star"></i></label>
      </div>
      <div class="col-sm-8 col-offset-sm-1 col-xs-12 rate-text">
        <a class="popover_form" data-content="<small class='text-muted'> <%= t 'reputation_description' %></small>"><strong class="black-button">Rate Investor's Reputation <i class="fa fa-question-circle"></i></strong></a>
      </div>
    </div> <!-- row closing tag -->
    <div class="row">
      <div class="col-sm-3 col-xs-12 rating"><!--
        --><input name="evaluation[rating_deal]" id="rating_deal5" type="radio" value="5" <% if @evaluation.rating_deal == 5.0 %> checked="checked" <% end %>><label for="rating_deal5"><i class="fa fa-star"></i></label><!--
        --><input name="evaluation[rating_deal]" id="rating_deal4" type="radio" value="4" <% if @evaluation.rating_deal == 4.0 %> checked="checked" <% end %>><label for="rating_deal4"><i class="fa fa-star"></i></label><!--
        --><input name="evaluation[rating_deal]" id="rating_deal3" type="radio" value="3" <% if @evaluation.rating_deal == 3.0 %> checked="checked" <% end %>><label for="rating_deal3"><i class="fa fa-star"></i></label><!--
        --><input name="evaluation[rating_deal]" id="rating_deal2" type="radio" value="2" <% if @evaluation.rating_deal == 2.0 %> checked="checked" <% end %>><label for="rating_deal2"><i class="fa fa-star"></i></label><!--
        --><input name="evaluation[rating_deal]" id="rating_deal1" type="radio" value="1" <% if @evaluation.rating_deal == 1.0 %> checked="checked" <% end %>><label for="rating_deal1"><i class="fa fa-star"></i></label>
      </div>
      <div class="col-sm-8 col-offset-sm-1 col-xs-12 rate-text">
        <a class="popover_form" data-content="<small class='text-muted'> <%= t 'deal_description' %> </small>"><strong class="black-button">Rate Deal Terms <i class="fa fa-question-circle"></i></strong></a>
      </div>
    </div> <!-- row closing tag -->

    <div class="row">
      <div class="col-sm-3 col-xs-12 rating"><!--
        --><input name="evaluation[rating_pitch]" id="rating_pitch5" type="radio" value="5" <% if @evaluation.rating_pitch == 5.0 %> checked="checked" <% end %>><label for="rating_pitch5"><i class="fa fa-star"></i></label><!--
        --><input name="evaluation[rating_pitch]" id="rating_pitch4" type="radio" value="4" <% if @evaluation.rating_pitch == 4.0 %> checked="checked" <% end %>><label for="rating_pitch4"><i class="fa fa-star"></i></label><!--
        --><input name="evaluation[rating_pitch]" id="rating_pitch3" type="radio" value="3" <% if @evaluation.rating_pitch == 3.0 %> checked="checked" <% end %>><label for="rating_pitch3"><i class="fa fa-star"></i></label><!--
        --><input name="evaluation[rating_pitch]" id="rating_pitch2" type="radio" value="2" <% if @evaluation.rating_pitch == 2.0 %> checked="checked" <% end %>><label for="rating_pitch2"><i class="fa fa-star"></i></label><!--
        --><input name="evaluation[rating_pitch]" id="rating_pitch1" type="radio" value="1" <% if @evaluation.rating_pitch == 1.0 %> checked="checked" <% end %>><label for="rating_pitch1"><i class="fa fa-star"></i></label>
      </div>
      <div class="col-sm-8 col-offset-sm-1 col-xs-12 rate-text">
        <a class="popover_form" data-content="<small class='text-muted'> <%= t 'pitch_description' %> </small>"><strong class="black-button">Rate Pitch Feedback <i class="fa fa-question-circle"></i></strong></a>
      </div>
    </div> <!-- row closing tag -->

    <div class="row">
      <div class="col-sm-3 col-xs-12 rating"><!--
        --><input name="evaluation[rating_competence]" id="rating_competence5" type="radio" value="5" <% if @evaluation.rating_competence == 5.0 %> checked="checked" <% end %>><label for="rating_competence5"><i class="fa fa-star"></i></label><!--
        --><input name="evaluation[rating_competence]" id="rating_competence4" type="radio" value="4" <% if @evaluation.rating_competence == 4.0 %> checked="checked" <% end %>><label for="rating_competence4"><i class="fa fa-star"></i></label><!--
        --><input name="evaluation[rating_competence]" id="rating_competence3" type="radio" value="3" <% if @evaluation.rating_competence == 3.0 %> checked="checked" <% end %>><label for="rating_competence3"><i class="fa fa-star"></i></label><!--
        --><input name="evaluation[rating_competence]" id="rating_competence2" type="radio" value="2" <% if @evaluation.rating_competence == 2.0 %> checked="checked" <% end %>><label for="rating_competence2"><i class="fa fa-star"></i></label><!--
        --><input name="evaluation[rating_competence]" id="rating_competence1" type="radio" value="1" <% if @evaluation.rating_competence == 1.0 %> checked="checked" <% end %>><label for="rating_competence1"><i class="fa fa-star"></i></label>
      </div>
      <div class="col-sm-8 col-offset-sm-1 col-xs-12 rate-text">
        <a class="popover_form" data-content="<small class='text-muted'><%= t 'competence_description' %></small>"><strong class="black-button">Rate the Investor's Competence <i class="fa fa-question-circle"></i></strong></a>
      </div>
    </div> <!-- row closing tag -->

    <div class="row">
      <div class="col-sm-3 col-xs-12 rating"><!--
        --><input name="evaluation[rating_commitment]" id="rating_commitment5" type="radio" value="5" <% if @evaluation.rating_commitment == 5.0 %> checked="checked" <% end %>><label for="rating_commitment5"><i class="fa fa-star"></i></label><!--
        --><input name="evaluation[rating_commitment]" id="rating_commitment4" type="radio" value="4" <% if @evaluation.rating_commitment == 4.0 %> checked="checked" <% end %>><label for="rating_commitment4"><i class="fa fa-star"></i></label><!--
        --><input name="evaluation[rating_commitment]" id="rating_commitment3" type="radio" value="3" <% if @evaluation.rating_commitment == 3.0 %> checked="checked" <% end %>><label for="rating_commitment3"><i class="fa fa-star"></i></label><!--
        --><input name="evaluation[rating_commitment]" id="rating_commitment2" type="radio" value="2" <% if @evaluation.rating_commitment == 2.0 %> checked="checked" <% end %>><label for="rating_commitment2"><i class="fa fa-star"></i></label><!--
        --><input name="evaluation[rating_commitment]" id="rating_commitment1" type="radio" value="1" <% if @evaluation.rating_commitment == 1.0 %> checked="checked" <% end %>><label for="rating_commitment1"><i class="fa fa-star"></i></label>
      </div>
      <div class="col-sm-8 col-offset-sm-1 col-xs-12 rate-text">
        <a class="popover_form" data-content="<small class='text-muted'> <%= t 'commitment_description' %></small>"><strong class="black-button">Rate Investor's Commitment <i class="fa fa-question-circle"></i></strong></a>
      </div>
    </div> <!-- row closing tag -->
  </div> <!-- img-container closing tag -->

  <br>
  <div class = "img-container img-rounded full-padded">
    <%= f.input :amount_raised, as: :currency, placeholder: 'Number in $' %>
    <%= f.input :would_work_again, as: :radio_buttons, label: "Would you work again with this investor?"%>
    <br>
    <div class="form-actions btn-group">
      <%= f.button :submit, {class: "btn btn-primary"} %> &nbsp; &nbsp;
      <%= link_to 'Cancel', evaluations_path, {class: "text-muted"} %>
    </div>
  </div>
<% end %>
<br>
<!-- Bootstrap JS for Popover -->
<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
    $(".popover_form").popover({
    html: true,
    trigger: "hover",
    placement: "right"
    });
    })
  </script>
<% end %>