<%= simple_form_for(@evaluation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :investor %>
    <%= f.association :founder %>
    <%= f.input :review %>
    <%= f.input :rating_reputation %>
    <%= f.input :rating_deal %>
    <%= f.input :rating_pitch %>
    <%= f.input :rating_competence %>
    <%= f.input :rating_commitment %>
    <%= f.input :amount_raised %>
    <%= f.input :would_work_again %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
