<div class="img-rounded snippet-box">
  <div class="row">
      <h2 class="text-center"><%= evaluation.investor_profile %></h2>
  </div>
  <div class="row full-padded">


    <div class="row">

      <p><small><%= evaluation.review.truncate_words(30) %>
          <% if evaluation.review.split.size > 30 %>
            <%= link_to "Read More", evaluation_path(evaluation) %>
          <% else %>
          ....
          <%= link_to "View Review", evaluation_path(evaluation) %>
          <% end %>
        </small></p>

    </div>


    <br>
    <div class="row">
      <div class="col-xs-3">
        <%= link_to investors_profile_path(evaluation.investor_profile) do %>
      <div><%= image_tag evaluation.investor_profile.avatar, class: "snippet-avatar-2" %></div>
    <% end %>
      </div>
      <div class="col-xs-9">
        <div class="col-xs-6 text-left">
        Average Score
        </div>
        <div class="col-xs-6 text-right text-yellow">
          <%= render 'evaluations/stars', score: evaluation.investor_profile.total_average_score %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>