<div class = "img-container img-rounded full-padded">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <h4><%= evaluation.title_review %></h4>
      <p>Fund : <%= link_to evaluation.investor_profile, investors_profile_path(evaluation.investor_profile) %>
      <br>
      <small class="text-muted">posted by <%= link_to evaluation.founder, founders_profile_path(evaluation.founder) %> on the <%= evaluation.date %></small>
    </div>
    <div class="col-sm-3 hidden-xs">
        <%= image_tag evaluation.founder.avatar, class: " small-img" %>
    </div>
  </div>
    <p><strong>
      <% if evaluation.average_score %>
      Rated <%= evaluation.average_score %> / 5
      <% else %>
      Not Rated
      <% end %>
    </strong></p>
    <p class = "text-justify"><%= evaluation.review.truncate_words(14) %> <small><%= link_to "Read on", investors_profile_path(evaluation.investor_profile) %></small></p>
</div>
<br>