<div class="img-rounded snippet-box">
  <div class="row">
    <div class="snippet-title small-padded">
      <%= link_to investors_profile_path(evaluation.investor_profile) do %>
        <%= image_tag evaluation.investor_profile.avatar, class: "snippet-avatar-3" %>
      <% end %>
      <%= link_to evaluation.investor_profile, investors_profile_path(evaluation.investor_profile) %>
      <span class="pull-right text-yellow">
        <%= render 'evaluations/stars', score: evaluation.investor_profile.total_average_score %>
      </span>
    </div>

  </div>


  <div class="row small-padded">

    <p><small><%= evaluation.review.truncate_words(30) %>
        <% if evaluation.review.split.size > 30 %>
          <%= link_to "Read More", evaluation_path(evaluation) %>
        <% elsif evaluation.review.split.size > 0 %>
        ...
        <%= link_to "View Review", evaluation_path(evaluation) %>
        <% else%>
        No Review,
        <%= link_to " View Score", evaluation_path(evaluation) %>
        <% end %>
      </small></p>

  </div>
</div>
<br>