<h1 class="text-center">Evaluations</h1>
<div class="colored-line"></div>
  <br>

<!-- Order by name/rating... by ordering the params in the controller -->

<p class="text-center">Order by :
<%= link_to  'Date'.html_safe, evaluations_path(order: :date) %> |
<%= link_to "Rating", evaluations_path(order: :average_score) %> |
<%= link_to "Company name", evaluations_path(order: :company_name) %> |
<%= link_to "Review title", evaluations_path(order: :title_review) %> |
<%= link_to "Founder", evaluations_path(order: :founder) %></p>
<br>

<!-- Using partial to render existing show view in the index -->
<div class="evaluation-container">
  <%= render @evaluations %>
<br>
</div>

<div class="load-more-container text-center">
        <!-- hide our loading gif image so that we show it when making ajax call via jquery -->
  <%= image_tag "ajax-loader.gif", style: "display:none;", class: "loading-gif" %>
  <%= link_to "Load More", evaluations_path, class: "load-more btn btn-primary" %>
</div>