<p id="notice"><%= notice %></p>

<h1>Listing Evaluations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Investor</th>
      <th>Founder</th>
      <th>Title Review</th>
      <th>Review</th>
      <th>Rating reputation</th>
      <th>Rating deal</th>
      <th>Rating pitch</th>
      <th>Rating competence</th>
      <th>Rating commitment</th>
      <th>Amount raised</th>
      <th>Would work again</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.investor %></td>
        <td><%= evaluation.founder %></td>
        <td><%= evaluation.title_review %></td>
        <td><%= evaluation.review %></td>
        <td><%= evaluation.rating_reputation %></td>
        <td><%= evaluation.rating_deal %></td>
        <td><%= evaluation.rating_pitch %></td>
        <td><%= evaluation.rating_competence %></td>
        <td><%= evaluation.rating_commitment %></td>
        <td><%= evaluation.amount_raised %></td>
        <td><%= evaluation.would_work_again %></td>
        <td><%= link_to 'Show', evaluation %></td>
        <td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
        <td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluation', new_evaluation_path %>
