<p id="notice"><%= notice %></p>


    <% @evaluations.each do |evaluation| %>
      <tr>
  <h3><%= evaluation.title_review %></h3>

  <p>Fund : <%= link_to evaluation.investor, investors_profile_path(evaluation.investor) %>
    <br>
    <small>posted by <%= link_to evaluation.founder, founders_profile_path(evaluation.founder) %> on the <%= evaluation.created_at %></small>
    <br>
    <p><strong>Rated <%= evaluation.average_score %></strong></p>

  <p><%= evaluation.review %></p>

  <p><small>
    <%= evaluation.work_again%>

     | amout raised : <%= evaluation.amount_raised %> $
  </small></p>
  <br>




       <p><small class="text-right"><%= link_to 'Show', evaluation %> |
       <%= link_to 'Edit', edit_evaluation_path(evaluation) %> |
       <%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></small></p>
       <hr>

    <% end %>


<br>

<%= link_to 'New Evaluation', new_evaluation_path %>
