<p id="notice"><%= notice %></p>

<p>
  <strong>Investor:</strong>
  <%= @evaluation.investor %>
</p>

<p>
  <strong>Founder:</strong>
  <%= @evaluation.founder %>
</p>

<p>
  <strong>Review:</strong>
  <%= @evaluation.review %>
</p>

<p>
  <strong>Rating reputation:</strong>
  <%= @evaluation.rating_reputation %>
</p>

<p>
  <strong>Rating deal:</strong>
  <%= @evaluation.rating_deal %>
</p>

<p>
  <strong>Rating pitch:</strong>
  <%= @evaluation.rating_pitch %>
</p>

<p>
  <strong>Rating competence:</strong>
  <%= @evaluation.rating_competence %>
</p>

<p>
  <strong>Rating commitment:</strong>
  <%= @evaluation.rating_commitment %>
</p>

<p>
  <strong>Amount raised:</strong>
  <%= @evaluation.amount_raised %>
</p>

<p>
  <strong>Would work again:</strong>
  <%= @evaluation.would_work_again %>
</p>

<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
