
<p class="text-right">
  <small>
    <span id="comment-<%= comment.id %>"><%= comment.content %></span> -
    <span class = "text-muted">
      <%= link_to comment.founder, founders_profile_path(comment.founder) %> &nbsp;
      <%= comment.date %>

      <%#= link_to edit_evaluation_comment_path(comment.evaluation, comment.id) do %>
        <a href=""><i class="fa fa-pencil edit-button-<%= comment.id %>"></i></a>
      <%# end %>
    </span>
  </small>
</p>
<hr class="small">

<div id="edit-form-<%= comment.id %>">
        <%=render 'comments/form', evaluation: comment.evaluation, comment: comment %>
        </div>
        <br>

<%= content_for(:after_js) do %>
<script>
  $('#edit-form-<%= comment.id %>').hide()
  $( '.edit-button-<%= comment.id %>' ).click(function(e) {
    e.preventDefault();
    $('#edit-form-<%= comment.id %>').slideDown();
});
</script>
<% end %>