<div class="container">
  <div class="text-center padded">
    <% if @founder.name.empty? %>
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Howdy, how should we call you? <%= link_to "Give us your name", edit_founders_profile_path(@founder) %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-4 full-padded text-left img-container margin-right">

  <!-- =========================
FOUNDER IMAGE AND NAME
============================== -->
      <p><%= image_tag @founder.image, size: "100x100", alt: @founder.name %> &nbsp;
        <%=@founder.name %> <br>
      </p>

        <table>
<!-- =========================
NUMBER OF REVIEWS
============================== -->
          <% if @founder.evaluations.count > 0 %>
            <tr>
              <td>Reviews :</td>
              <td><strong><%= @founder.evaluations.count %></strong></td>
            </tr>
          <% end %>

<!-- =========================
NUMBER OF COMMENTS
============================== -->
          <% if @founder.comments.count > 0 %>
            <tr>
              <td>Comments :</td>
              <td><strong><%= @founder.comments.count %></strong></td>
            </tr>
          <% end %>

<!-- =========================
AMOUNT RAISED
============================== -->
          <% total_raised = 0 %>
          <% @founder.evaluations.each do |evaluation| %>
          <% next if evaluation.amount_raised.nil? %>
          <% total_raised += evaluation.amount_raised %>
          <% end %>

          <% if total_raised > 0 %>
            <tr>
              <td>Raised :</td>
              <td><strong><%= number_to_currency(total_raised) %></strong></td>
            </tr>
          <% end %>
        </table>
        <br>

<!-- =========================
RATE INVESTOR
============================== -->
      <form class="form-inline">
        <div class="form-group">
        <select id="select-investor" class="form-control">
        <option value="0">Select Investor</option>
        <% @profiles.each do |profile| %>
        <option value=<%=profile.id%>><%= profile.company_name %></option>
        <% end %>
        <option value="0">Investor not in list</option>
        </select>
        </div>
        <!-- check the dashboard.js for jquery code -->

        <button id="submit-profile" class="btn btn-danger">Rate Investor</button>
      </form>

<!-- =========================
YOUR POPULAR REVIEWS
============================== -->
      <div class="hidden-xs">
        <% if @founder.evaluations.count > 0 %>
          <hr>
          <h4>Your most popular reviews</h4>
          <% evaluations = @founder.evaluations.sort_by{ |evaluation| -evaluation.score}.first(5) %>
          <% evaluations.each do |evaluation| %>
            <p class="score-list"><span class="label label-primary score-badge"><%= evaluation.score %></span> &nbsp;<small><%= link_to evaluation.title_review, evaluation_path(evaluation) %></small></p>
          <% end %>
        <% end %>
      </div>

<!-- =========================
YOUR LAST COMMENTS
============================== -->
        <div class="hidden-xs">
          <% if @founder.comments.count > 0 %>
            <hr>
            <h4>Your last comments</h4>
            <% @founder.comments.limit(5).each do |comment| %>
              <small><%= link_to comment.content, evaluation_path(comment.evaluation) %> - <%= time_ago_in_words(comment.created_at) %> ago</small><br>
            <% end %>
          <% end %>
        </div>

<!-- =========================
BLA BLA BLA TEXT
============================== -->
      <!-- <div class="hidden-xs"><%# if @founder.evaluations.count > 0 || @founder.comments.count > 0 %>
        <%#= link_to "Rate an investor", investors_profile_index_path, class: "btn btn-danger btn-lg" %>
        <br>
      <%# end %>
      </div> -->

      <!-- <p class="hidden-xs">
        <strong>PAY IT FORWARD</strong>. Share your experience with other founders, tell them about previous experiences you've had with investors. Try writing a precise and thorough review, be just in your rating and don't hesitate to give other founders tips and tricks to keep on track. Help them find the profile of investor best suited to their needs. No anonymous reviews, be <strong>BRAVE</strong>, be <strong>TRUE</strong> but don't be <strong>RUDE</strong>... Of course rate only investors that you have contacted. If you allow other founders to contact you about your experience, please leave an email, linkedin address or cell phone so that they can contact you.
        <br>
      </p>

      <p class="hidden-xs">
        <%#= link_to "All reviews", evaluations_path, class: "btn btn-success btn-lg" %>
        <br>
        So you're about to sign that lifetime deal but don't know which of the potential investors that come banging on your door to choose from? If you are interested in knowing what other founders have written about investors and their own experience, check the reviews or search for an investor by name in the search bar above.
        <br>
      </p> -->

    </div>

    <div class="visible-xs-block">
      <br>
    </div>


    <div class="col-sm-7 margin-right">

<!-- =========================
MOST RECENT REVIEWS
============================== -->
      <!-- <h3>Most recent reviews</h3> -->
      <% @evaluations.each do |evaluation| %>
        <%= render 'evaluations/show_snippets', evaluation: evaluation %>
        <% end %>

<!-- =========================
YOUR RECENT REVIEWS
============================== -->
        <% if @founder.evaluations.blank? %>
        <% else %>
          <h3>Your Last Reviews</h3>
        <!-- using partial to render the show pages -->
        <div class="grey-snippet">
          <% @founder.evaluations.limit(5).each do |evaluation| %>
            <%= render 'evaluations/show_snippets', evaluation: evaluation %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<%= render 'shared/socials' %>


