    <!-- =========================
    HOMEPAGE - WELCOME TEXT AND SIGN-IN/UP
    ============================== -->

<div class="container" id="home-header">
  <section class="home-padded">
    <div class="row">
      <div class="col-xs-12 col-sm-7 intro-section">
        <h1 data-sr="wait 0.1s, ease-in-out 100px" class="intro">Welcome to SharkRank

        </h1>
        <p data-sr="move 16px scale up 20%, over 2s" class = "white-text big-text feature-list-1">Sharkrank is a crowdsourced rating and review system of the reputation and interactions of investors worldwide. <br> <br> Rate and review angel investors – Help other founders by publicly sharing your experiences when dealing with investors. Share trustworthy and first-hand tesimonials on the reputation of investors, and stop wasteful interactions.</p>
      </div>

      <div class="col-xs-12 col-sm-4 intro-section">

    <!-- =========================
    SIGN-IN FORM
    ============================== -->

        <div class="white-box">
          <%= form_for :resource, :html => { class: "login-form", id: "login"}, url: log_in_path do |f| %>
          <%= f.email_field :email, class: "form-control input-box", placeholder: "Email", value: flash[:log_email] %>
            <div class="col-xs-12">
            <div class="col-sm-8 col-xs-12">
            <%= f.password_field :password, class: "form-control input-box col-xs-12", placeholder: "Password" %>
            </div>

            <div class="col-sm-4 col-xs-12">
            <%= f.submit "Log in", class: "btn btn-primary col-sm-11 col-sm-offset-1 col-xs-3 button-margin-top", id: "submit" %>
            </div>

          <% end %>
          </div>
          <small><%= link_to "Forgot your password?", new_password_path(:founder), class: "text-right" %></small>
          <br>
          <small> Sign in with
          <%= link_to "Facebook, ", founder_omniauth_authorize_path(:facebook)%>
          <%= link_to "Twitter ", founder_omniauth_authorize_path(:twitter)%>  or
          <%= link_to "Linkedin ", founder_omniauth_authorize_path(:linkedin)%>
          </small>

        </div>
        <br>

    <!-- =========================
    SIGN-UP FORM
    ============================== -->

        <div class="white-box">
          <h4 class="black-button">New to Sharkrank?</h4>
          <%= form_for :resource, :html => { class: "registration-form", id: "register"}, url: sign_up_path(:resource) do |f| %>
          <div class="lower-margin">
            <% if flash[:is_investor] %>
            <%= f.check_box :is_investor, class: "check-toggle check-toggle-round-flat", id:"cc-toggle", checked: "checked" %>
            <% else %>
            <%= f.check_box :is_investor, class: "check-toggle check-toggle-round-flat", id:"cc-toggle", checked: "unchecked" %>
            <% end %>
            <label for="cc-toggle"></label>
            <span class="off black-button">I'm an investor</span>
          </div>
          <div class="form-group">
            <%= f.text_field :code, class: "form-control input-box", placeholder: "Your invitation code" %>
          </div>
          <div class="login-form">
            <%= f.email_field :email, class: "form-control input-box ", placeholder: "Email", value: flash[:sign_email] %>
            <%= f.password_field :password, class: "form-control input-box", placeholder: "Password" %>
            <div class="col-xs-12">
              <div class="col-sm-8 col-xs-12">
                <%= f.password_field :password_confirmation, class: "form-control input-box", placeholder: "Confirm Password" %>
              </div>
              <div class="col-sm-4 col-xs-12">
                <%= f.submit "Get Started", class: "btn btn-danger col-sm-11 col-sm-offset-1 col-xs-3 button-margin-top", id: "submit" %>
              </div>
              </div>
              <% end %>
              <small>
                Sign-up with
              <%= link_to "Facebook, ", founder_omniauth_authorize_path(:facebook)%>
              <%= link_to "Twitter ",founder_omniauth_authorize_path(:twitter)%>
              or
              <%= link_to "LinkedIn ",founder_omniauth_authorize_path(:linkedin)%>
              </small>
            </div>
          </div>

      </div> <!-- closing tag for 2 forms -->
    </div> <!-- row closing tag -->
    <a class="" href="#community"><i class="fa fa-angle-down pulse scroll-btn"></i></a>
  </section>
</div> <!-- container closing tag -->

<!-- =========================
SECTION - COMMUNITY
============================== -->

<section id="community" class="text-center full-page bgcolor-image-computer no-left-margin">
  <div class= "row">
    <div data-sr="wait 0.2s, enter left, move 100px, over 2.0s" class="col-sm-6">
      <%= image_tag "computer.jpg", class: "slideRight img-responsive no-left-margin" %>
    </div>
    <div data-sr="wait 0.3s, enter right, scale down 20%" class="col-sm-3 col-sm-offset-1 padded">
      <br>
      <br>
      <i class="fa fa-users text-large text-center"></i>
      <h2>Help the start-up community</h2>
      <div class="colored-line"></div>
      <div style="visibility: visible; ">
        <strong>PAY IT BACK.</strong> Share your experience with other founders, tell them about previous experiences you've had with investors. Give other founders tips and tricks to keep on track. Help them find the profile of investor best suited to their needs.
      </div>
    </div>
  </div>
  <a class="" href="#bullets"><i class="fa fa-angle-down pulse scroll-btn black-text"></i></a>
</section>

<!-- =========================
SECTION - BULLET POINTS
============================== -->

<section id="bullets" class="home-padded text-center full-page home-bg-image-3">
  <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <br>
        <br>
        <br>
        <h1 data-sr="wait 0.2s, enter right, scale down 20%" class="white-text">
        A <strong>community</strong> of founders to rate and <strong>review</strong> angel investors and VC firms
        </h1>
        <ul class="feature-list-1 list-unstyled">
          <!-- FEATURE ROW -->
          <li data-sr="wait 0.1s, enter right">
            <div class="icon-container pull-left text-center">
              <i class="fa fa-check"></i>
            </div>
            <p class="text-left">
              Help other founders by publicly sharing, reviewing and rating your experiences with angel investors and VC's
            </p>
          </li>
          <!-- FEATURE ROW -->
          <li data-sr="wait 0.3s, enter right">
            <div class="icon-container pull-left text-center">
              <i class="fa fa-check"></i>
            </div>
            <p class="text-left">
              As an investor, see what founders think of you and where you might want to improve your skills to attract better deal flow.
            </p>
          </li>
          <!-- FEATURE ROW -->
          <li data-sr="wait 0.5s, enter right">
            <div class="icon-container pull-left text-center">
              <i class="fa fa-check"></i>
            </div>
            <p class="text-left">
              Browse the reputation of angel investors and VC's firms so founders can make better informed decisions.
            </p>
          </li>
        </ul>
      </div>

    </div>
    <a class="" href="#snippets"><i class="fa fa-angle-down pulse scroll-btn"></i></a>
</section>


<!-- =========================
SECTION - SNIPPETS
============================== -->

<section id="snippets" class="home-padded text-center full-page">
  <div>
    <h2 data-sr="wait 0.1s, enter right">Latest Reviews</h2>
    <div class="colored-line"></div>
    <div>
      <div id="evaluations" class="row">
        <% @evaluations.each do |evaluation| %>
        <div data-sr="wait 0.2s, enter right" class="col-sm-6 col-md-4 text-left">
          <%= render 'evaluations/show_snippets', evaluation: evaluation %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <a class="" href="#browse"><i class="fa fa-angle-down pulse scroll-btn black-text"></i></a>
</section>



<!-- =========================
SECTION - BROWSE
============================== -->

<section id="browse" class="home-padded text-center full-page bgcolor-image">
  <div data-sr="wait 0.2s, ease-in-out 100px" class= "row">
    <div class="col-sm-3 padded">
      <br>
      <br>
      <i class="fa fa-search text-large text-center"></i>
      <h2>Browse Investors</h2>
      <div class="colored-line"></div>
      <div>
        <p>Are you the <strong>founder</strong> of a start-up, looking for the right investor? <br>
        Browse the <strong>reputation</strong> of angel investors and Venture Capitalist firms to <strong>help you</strong> take a better and more informed decision.</p>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <%= image_tag "sharkrank-preview.jpg", class: "img-responsive" %>
    </div>
  </div>
  <a class="" href="#contact"><i class="fa fa-angle-down pulse scroll-btn black-text"></i></a>
</section>

<!-- =========================
SECTION - CONTACT
============================== -->

<section id="contact" class="home-padded text-center full-page-with-footer home-bg-image-3">
  <div data-sr="wait 0.2s, ease-in-out 100px" class= "row">

    <br>
    <br>
    <br>
    <div class="col-sm-3 padded white-text">
      <i class="fa fa-envelope text-large text-center"></i>
      <h2 class="white-text">Contact us</h2>
      <div class="colored-line"></div>
      <div>
        <p>Use the form to contact us or send us a mail to <a href="mailto:info@sharkrank.co">info@sharkrank.co</a></p>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <%= render 'contacts/empty_contact_form' %>
    </div>
  </div>
</section>

<!-- =========================
SECTION 10 - FOOTER
============================== -->

<footer class="text-center bgcolor-2">
  <div class="container">
    <div class="footer-logo">
      <%= link_to root_path do %>
      <p><%= image_tag "logo-sharkrank-welcome.svg", class: "welcome-logo"%></span></p>
      <% end %>
    </div>
  </div>
</footer>