<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p> -->

<!-- HEADING, FEATURES AND REGISTRATION FORM CONTAINER -->
<div class="container" id="home-header">

  <section class="home-padded">
    <!-- UPPER BAR -->
    <div class="row bar">

      <!-- BRAND LOGO -->
      <div class="col-xs-12 col-sm-6">
        <%= link_to root_path do %>
          <p class="text-large logo">Angel<span class="text-primary">Layer</span></p>
        <% end %>
      </div>

      <!-- LOG IN -->
      <div class="col-xs-12 col-sm-6 text-right text-large">
        <%= form_for :resource, :html => { class: "login-form form-inline", id: "login"}, url: log_in_path do |f| %>
          <%= f.email_field :email, class: "form-control input-box", placeholder: "Email", value: @log_email %>
          <%= f.password_field :password, class: "form-control input-box", placeholder: "Password" %>
          <%= f.submit "Log in", class: "btn btn-primary", id: "submit" %>
        <% end %>
      </div>
    </div>
    <div class="row">
    <!-- UPPER BAR -->

      <!-- LEFT - HEADING AND TEXTS -->
      <div class="col-md-7 col-sm-7 intro-section">

        <h1 class="intro text-left">
          Founders <strong>community</strong> to help you select the <strong>right</strong> investor
        </h1>

        <ul class="feature-list-1 list-unstyled">

          <!-- FEATURE ROW -->
          <li>
            <div class="icon-container pull-left text-center">
              <i class="fa fa-check"></i>
            </div>
            <p class="text-left">
              Lorem lean startup ipsum product market fit customer development acquihire tech cofounder. User engagement A/B testing.
            </p>
          </li>

          <!-- FEATURE ROW -->
          <li>
            <div class="icon-container pull-left text-center">
              <i class="fa fa-check"></i>
            </div>
            <p class="text-left">
              Accelerator photo sharing business school drop out ramen hustle crush it revenue traction platforms.
            </p>
          </li>

          <!-- FEATURE ROW -->
          <li>
            <div class="icon-container pull-left text-center">
              <i class="fa fa-check"></i>
            </div>
            <p class="text-left">
              Social bookmarking group buying crowded market pivot onboarding freemium prototype ping pong. Early stage disruptive ecosystem.
            </p>
          </li>
        </ul>

      </div>

      <!-- RIGHT - REGISTRATION FORM -->

      <div class="col-md-5 col-sm-5">

        <div class="vertical-registration-form text-center">
          <div class="colored-line">
          </div>
          <h3>Try it for free</h3>
          <%= form_for :resource, :html => { class: "registration-form", id: "register"}, url: sign_up_path(:resource) do |f| %>
            <%= f.email_field :email, class: "form-control input-box", placeholder: "Email", value: @sign_email %>
            <%= f.password_field :password, class: "form-control input-box", placeholder: "Password" %>
            <%= f.password_field :password_confirmation, class: "form-control input-box", placeholder: "Password" %>
            <div class="switch">
              <% if @is_investor %>
                <%= f.check_box :is_investor, class: "check-toggle check-toggle-round-flat", id:"cc-toggle", checked: "checked" %>
              <% else %>
                <%= f.check_box :is_investor, class: "check-toggle check-toggle-round-flat", id:"cc-toggle", checked: "unchecked" %>
              <% end %>
              <label for="cc-toggle"></label>
              <span class="on">I'm a founder</span>
              <span class="off">I'm an investor</span>
            </div>
            <%= f.submit "Get Started", class: "btn btn-danger btn-lg", id: "submit" %>
          <% end %>

        </div>
      </div>
      <!-- /END - REGISTRATION FORM -->
    </div>


    <a class="" href="#snippets"><i class="fa fa-angle-down fa-6 pulse scroll-btn"></i></a>
  </section>

</div>
<!-- /END HEADING, FEATURES AND REGISTRATION FORM CONTAINER -->

<section id="snippets" class="home-padded text-center">
  <div>
    <h2>Latest Reviews</h2>
    <div class="colored-line">
    </div>
    <div>
      <div id="evaluations" class="row">
        <% @evaluations.each do |evaluation| %>
          <div class="col-sm-6 col-md-4 text-left">
            <%= render 'evaluations/show_snippets', evaluation: evaluation %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- =========================
     SECTION 10 - FOOTER
============================== -->
<footer class="text-center bgcolor-2">
<div class="container">

  <div class="footer-logo">
    <%= link_to root_path do %>
      <p class="text-large logo">Angel<span class="text-primary">Layer</span></p>
    <% end %>
  </div>

</div>
</footer>


