<%= simple_form_for(@profile, url: @profile.id? ? investors_profile_path(@profile) : investors_profile_index_path) do |f| %>
<%= f.error_notification %>


<div class = "img-container img-rounded full-padded">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <%= image_tag @profile.profile_pic.url(:thumb), size: "100x100" %>
    </div>
    <div class="col-xs-12 col-sm-9">
      <%= f.input :profile_pic, as: :file, label:"Choose or modify profile picture" %>
    </div>
  </div>
</div>
<br>


<div class = "img-container img-rounded full-padded">
  <div class="row">
    <div class="col-xs-12 col-md-2">Company Name</div>
    <div class="col-xs-12 col-md-10">
      <%= f.input :company_name, label: false, required: true, autofocus: true, placeholder: "My Business Angel Firm" %>
    </div>

    <div class="col-xs-12 col-md-2">Email</div>
    <div class="col-xs-12 col-md-10">
      <%= f.input :email, label: false, placeholder: "info@mycompany.com" %>
    </div>

    <div class="col-xs-12 col-md-2">Address</div>
    <div class="col-xs-12 col-md-10">
      <%= f.input :physical_address, label: false, placeholder: "The Big Lane 35, San Francisco, CA 94115, USA" %>
    </div>

    <div class="col-xs-12 col-md-2">Phone</div>
    <div class="col-xs-12 col-md-10">
      <%= f.input :phone_number, label: false, placeholder: "+1 415-777-7777" %>
     </div>

    <div class="col-xs-12 col-md-2">Website</div>
    <div class="col-xs-12 col-md-10">
      <%= f.input :website, label: false, placeholder: "www.mycompany.com" %>
    </div>
  </div>
</div>
<br>




<div class = "img-container img-rounded full-padded">
  <div class="row">
    <div class="col-xs-12 col-md-2"><i class="fa fa-facebook"></i> Facebook</div>
    <div class="col-xs-12 col-md-10">
      <%= f.input :facebook, label: false, placeholder: "www.facebook.com/investor"  %>
    </div>

    <div class="col-xs-12 col-md-2"><i class="fa fa-twitter"></i> Twitter</div>
    <div class="col-xs-12 col-md-10">
      <%= f.input :twitter, label: false, placeholder: "www.twitter.com/investor"  %>
    </div>

    <div class="col-xs-12 col-md-2"><i class="fa fa-linkedin"></i> Linkedin</div>
    <div class="col-xs-12 col-md-10">
      <%= f.input :linkedin, label: false, placeholder: "www.linkedin.com/in/investor"  %>
    </div>

    <div class="col-xs-12 col-md-2"><i class="fa fa-angellist"></i> Angellist</div>
    <div class="col-xs-12 col-md-10">
      <%= f.input :angellist, label: false, placeholder: "www.angel.co/investor"  %>
    </div>

    <div class="col-xs-12 col-md-2"><i class="fa fa-skype"></i> Skype</div>
    <div class="col-xs-12 col-md-10">
      <%= f.input :skype, label: false, placeholder: "investor.name"  %>
    </div>
  </div>
</div>
<br>

<div class = "img-container img-rounded full-padded">
  <div class="row">
    <div class="col-xs-12 ">Sectors invested in</div>
    <div class="col-xs-12 ">
      <%= f.input :sectors_invested_in, label: false, placeholder: "Example Web apps, technology start-ups, environment related businesses..." %>
    </div>

    <div class="col-xs-12 ">Capital under management</div>
    <div class="col-xs-12 ">
      <%= f.input :capital_under_managment, label: false, placeholder: "Please enter numbers only please" %>
    </div>

    <div class="col-xs-12 ">Geographical Focus</div>
    <div class="col-xs-12 ">
      <%= f.input :geographical_focus, label: false, placeholder: "Example North America, South-East Asia..." %>
    </div>

    <div class="col-xs-12 ">Investment Stage</div>
    <div class="col-xs-12 ">
      <%= f.input :preferred_investment_stage, label: false, placeholder: "Example: Seed, Stage A, Stage B, Stage C ..." %>
    </div>

    <div class="col-xs-12 ">Number of Projects under management</div>
    <div class="col-xs-12">
    <%= f.input :nb_projects_invested_in, label: false %>
    </div>
  </div>
</div>
<br>

<div class = "img-container img-rounded full-padded">
  <div class="row">
    <div class="col-xs-12 col-md-2"><strong>Contact Info</strong> <br><br></div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-md-2">Person</div>
    <div class="col-xs-12 col-md-10">
      <%= f.input :contact_person, label: false, placeholder: "John Doe" %>
    </div>

  <div class="col-xs-12 col-md-2">Email</div>
    <div class="col-xs-12 col-md-10">
      <%= f.input :contact_email, label: false, placeholder: "If different from above" %>
    </div>

  <div class="col-xs-12 col-md-2">Cell</div>
    <div class="col-xs-12 col-md-10">
      <%= f.input :contact_cell_phone, label: false %>
    </div>

  <%= f.button :submit, "Save", class: "btn btn-primary" %>
  <%= link_to 'Cancel', investors_profile_index_path, {class: "btn text-muted"} %>
  <% end %>
  </div>
</div>
<br>
