<!-- app/views/investors/profile/show.html.erb -->
<div class = "img-container img-rounded full-padded">
  <h1 class = "text-center"><%= @investor.company_name %></h1>
  <hr>

  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <%= image_tag @investor.profile_pic.url(:thumb), size: "100x100", alt: @investor.company_name %>
    </div>
    <div class="col-xs-12 col-sm-9">
      <p>
        <i class="fa fa-home"></i> <%= @investor.physical_address %>
      </p>
      <p>
        <i class="fa fa-globe"></i> <% if @investor.website %>
          <%= link_to @investor.website, "//" + @investor.website %>
        <% end %>
      </p>
      <p>
        <i class="fa fa-phone"> &nbsp; </i><%= @investor.phone_number %>
      </p>
    </div>
  </div>
  <hr>
  <p>
    <strong>Rating: </strong>
    <% if @investor.total_average_score.nil? %>
      No rating yet
    <% else %>
      <%= @investor.total_average_score %> / 5.0 (<%= @investor.nb_of_rates %> rates)
    <% end %>
  </p>

  <ul class="list-inline text-center">
    <% rating_areas = ["Reputation", "Deal", "Pitch", "Competence", "Commitment"] %>

    <% rating_areas.each do |area| %>
      <%
        if @investor.rating(area.downcase).nil?
          level = "default"
        elsif @investor.rating(area.downcase) > 3.5
          level = "success"
        elsif @investor.rating(area.downcase) < 2.5
          level = "danger"
        else
          level = "warning"
        end
      %>
      <li>
        <div><%= area %></div>
        <div class="label label-<%= level %>">

          <% if @investor.rating(area.downcase).nil? %>
            <% 5.times do %>
              <i class="fa fa-star-o"></i>
            <% end %>
          <% else %>
            <% star_used = 0 %>
            <% @investor.rating(area.downcase).to_i.times do %>
              <i class="fa fa-star"></i>
              <% star_used = @investor.rating(area.downcase).to_i %>
            <% end %>
            <% if @investor.rating(area.downcase) - @investor.rating(area.downcase).to_i >= 0.5 %>
              <i class="fa fa-star-half-o"></i>
              <% star_used += 1 %>
            <% end %>
            <% empty = 5 - star_used
              empty.times do %>
              <i class="fa fa-star-o"></i>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>

  <hr>

  <p>
    <i class="fa fa-envelope-o"> &nbsp; </i><%= mail_to @investor.email, @investor.email %>
  </p>

  <p>
    <i class="fa fa-cubes"></i> Sectors invested in: <%= @investor.sectors_invested_in %>
  </p>

  <p>
    <i class="fa fa-usd"></i> Capital under managment: <%= @investor.capital_under_managment %> $
  </p>

  <p>
    <i class="fa fa-globe"></i> Geographical focus: <%= @investor.geographical_focus %>
  </p>

  <p>
    <i class="fa fa-tree"></i> Investment stage: <%= @investor.preferred_investment_stage %>
  </p>

  <p>
    <i class="fa fa-users"></i> Nb of projects invested in: <%= @investor.nb_projects_invested_in %>
  </p>
  <hr>
  <p><strong>contact</strong></p>
  <p>
    <i class="fa fa-user"></i> <%= @investor.contact_person %>
  </p>
  <p>
    <i class="fa fa-envelope-o"> </i> <%= @investor.contact_email %>
  </p>
  <p>
    <i class="fa fa-mobile"></i> <%= @investor.contact_cell_phone %>
  </p>
  <hr>
  <p class="text-large text-center">
    <% unless @investor.facebook.nil? || @investor.facebook.empty? %>
      <%= link_to "//" + @investor.facebook, target: "_blank" do %>
        <i class="fa fa-facebook"></i>
      <% end %>
      &nbsp;
    <% end %>
    <% unless @investor.twitter.nil? || @investor.twitter.empty? %>
      <%= link_to "//" + @investor.twitter, target: "_blank" do %>
        <i class="fa fa-twitter"></i>
      <% end %>
      &nbsp;
    <% end %>
    <% unless @investor.linkedin.nil? || @investor.linkedin.empty? %>
      <%= link_to "//" + @investor.linkedin, target: "_blank" do %>
        <i class="fa fa-linkedin"></i>
      <% end %>
      &nbsp;
    <% end %>
    <% unless @investor.angellist.nil? || @investor.angellist.empty? %>
      <%= link_to "//" + @investor.angellist, target: "_blank" do %>
        <i class="fa fa-angellist"></i>
      <% end %>
      &nbsp;
    <% end %>
    <% unless @investor.skype.nil? || @investor.skype.empty? %>
      <%= link_to "skype:#{@investor.skype}?chat", target: "_blank" do %>
        <i class="fa fa-skype"></i>
      <% end %>
      &nbsp;
    <% end %>
  </p>
  <hr>
  <%= link_to "Edit", edit_investors_profile_path(@investor), class: "btn btn-primary" %>
  <%= link_to "All investors", investors_profile_index_path, class: "btn btn-primary" %>
  <hr>
  <% @investor.evaluations.each do |evaluation| %>
  <h3><%= evaluation.title_review %></h3>
  <p><small>posted by <%= link_to evaluation.founder, founders_profile_path %> on the <%= evaluation.date %></small>
    <br>
    <p><strong>Rated <%= evaluation.average_score %></strong></p>
  <%= evaluation.review %></p>
 <hr>
  <% end %>
  <%= link_to 'New Evaluation', new_investors_profile_evaluation_path(@investor), class: "btn btn-primary" %>
</div>