<!-- app/views/investors/profile/show.html.erb -->
<div class = "img-container img-rounded full-padded">
  <h1 class = "text-center"><%= @investor.company_name %></h1>
  <hr>
</div>
<div class="img-container img-rounded full-padded">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <%= image_tag @investor.profile_pic.url(:thumb), size: "100x100", alt: @investor.company_name %>
    </div>
    <div class="col-xs-12 col-sm-9">
      <p><%= @investor.physical_address %>
        <br>
        <%= link_to @investor.website, @investor.website %>
        <br>
      <i class="fa fa-phone"> &nbsp; </i><%= @investor.phone_number %></p>
    </div>
  </div>
  <hr>
  <p>
    <i class="fa fa-star"></i> <strong><%= @investor.total_average_score %></strong>
  </p>

  <p>
    <i class="fa fa-envelope-o"> &nbsp; </i><%= mail_to @investor.email, @investor.email %>
  </p>
  <p>
    <i class="fa fa-cubes"></i> Sectors invested in: <%= @investor.sectors_invested_in %>
  </p>
  <p>
    <i class="fa fa-usd"></i> Capital under managment: <%= @investor.capital_under_managment %> $
  </p>
  <p>
    <i class="fa fa-globe"></i> Geographical focus: <%= @investor.geographical_focus %>
  </p>
  <p>
    <i class="fa fa-tree"></i> Investment stage: <%= @investor.preferred_investment_stage %>
  </p>
  <p>
    <i class="fa fa-users"></i> Nb of projects invested in: <%= @investor.nb_projects_invested_in %>
  </p>
  <hr>
 <p><strong>contact</strong></p>
  <p>
    <i class="fa fa-user"></i> <%= @investor.contact_person %>
  </p>
  <p>
    <i class="fa fa-envelope-o"> </i> <%= @investor.contact_email %>
  </p>
  <p>
    <i class="fa fa-mobile"></i> <%= @investor.contact_cell_phone %>
  </p>
  <hr>
  <p>
    <%= link_to '<i class="fa fa-facebook"></i>'.html_safe, @investor.facebook %> &nbsp;
    <%= link_to '<i class="fa fa-twitter"></i>'.html_safe, @investor.twitter %> &nbsp;
    <%= link_to '<i class="fa fa-linkedin"></i>'.html_safe, @investor.linkedin %> &nbsp;
    <%= link_to '<i class="fa fa-angellist"></i>'.html_safe, @investor.angellist %> &nbsp;
    <%= link_to '<i class="fa fa-skype"></i>'.html_safe, @investor.skype %>
  </p>
  <hr>
  <%= link_to "Edit", edit_investors_profile_path(@investor), class: "btn btn-primary" %>
  <%= link_to "All investors", investors_profile_index_path, class: "btn btn-primary" %>
  <hr>
  <% @investor.evaluations.each do |evaluation| %>
  <h3><%= evaluation.title_review %></h3>
  <p><small>posted by <%= link_to evaluation.founder, founders_profile_path %> on the <%= evaluation.created_at %></small>
    <br>
    <p><strong>Rated <%= evaluation.average_score %></strong></p>
  <%= evaluation.review %></p>
 <hr>
  <% end %>
  <%= link_to 'New Evaluation', new_evaluation_path, class: "btn btn-primary" %>
</div>