<div class = "img-container img-rounded full-padded">

  <h1 class = "text-center"><%= @profile.company_name %></h1>
  <hr>

  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <%= image_tag @profile.profile_pic.url(:thumb), size: "100x100", alt: @profile.company_name %>
    </div>
    <div class="col-xs-12 col-sm-9">
      <p>
        <i class="fa fa-home"></i>
        <% if @profile.physical_address != "" %>
        <%= @profile.physical_address %>
        <% else %>
          No info yet
        <% end %>
      </p>
      <p>
        <i class="fa fa-globe"></i>
        <% if @profile.website != "" %>
          <%= link_to @profile.website, "http://" + @profile.website.gsub(/\Ahttps?:\/\//,"") %>
        <% else %>
          No info yet
        <% end %>
      </p>
      <p>
        <% if current_founder %>
          <%= link_to new_investors_profile_evaluation_path(@profile), {class: 'btn btn-danger btn-sm'} do %>
          Rate <%= @profile.company_name %>
          <% end %>
        <% end %>

        <% if (current_investor && current_investor.investor_profile.nil?) || (current_founder && current_founder.admin) %>
          <% user = current_investor || current_founder %>
          <% unless @profile.investor_id %>
            <%#= mail_to "info@sharkrank.co", "claim profile", {subject: "Claiming profile #{@profile.company_name}", body: "I would like to claim #{@profile.company_name}. My email is #{user.email} and my SharkRank id is #{user.id}. I understand it might take some time my account to be linked to this profile. ", class: 'btn btn-success btn-sm'} %>
            <%= link_to "claim profile", "#", class: "btn btn-success btn-sm", :data => { toggle: "modal", target: "#claim-#{@profile.id}" } %>
            <%= render 'claim_modal', profile: @profile %>
          <% end %>
        <% end %>


      </p>
    </div>
  </div>
  <hr>
  <p>
    <strong>Rating : </strong>
    <% if @profile.total_average_score.nil? %>
      No rating yet
    <% else %>
      <%= @profile.total_average_score %> / 5.0 (<%= @profile.nb_of_rates %> rates)
    <% end %>
  </p>

  <ul class="list-inline text-center">
    <% rating_areas = ["Reputation", "Deal", "Pitch", "Competence", "Commitment"] %>

    <% rating_areas.each do |area| %>
      <%
        if @profile.rating(area.downcase).nil?
          level = "default"
        elsif @profile.rating(area.downcase) > 3.5
          level = "success"
        elsif @profile.rating(area.downcase) < 2.5
          level = "danger"
        else
          level = "warning"
        end
      %>
      <li>

        <div><a class="popover_form" data-content="<small class='text-muted'> <%= t "#{area.downcase}_description" %></small>"><strong class="black-button"><%= area %> <i class="fa fa-question-circle"></i></strong></a></div>

        <div class="label label-<%= level %>">

          <% if @profile.rating(area.downcase).nil? %>
            Not rated
          <% else %>
            <% star_used = 0 %>
            <% @profile.rating(area.downcase).to_i.times do %>
              <i class="fa fa-star"></i>
              <% star_used = @profile.rating(area.downcase).to_i %>
            <% end %>
            <% if @profile.rating(area.downcase) - @profile.rating(area.downcase).to_i >= 0.5 %>
              <i class="fa fa-star-half-o"></i>
              <% star_used += 1 %>
            <% end %>
            <% empty = 5 - star_used
              empty.times do %>
              <i class="fa fa-star-o"></i>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  <hr>

  <p>
    <i class="fa fa-cubes"></i> Sectors invested in:
    <% if @profile.sectors_invested_in != "" %>
      <%= @profile.sectors_invested_in %>
      <% else %>
        No info yet
    <% end %>
  </p>

  <p>
    <i class="fa fa-usd"></i> Capital under managment:
    <% if @profile.capital_under_managment != nil %>
      <%= @profile.capital_under_managment %> $
      <% else %>
        No info yet
    <% end %>
  </p>

  <p>
    <i class="fa fa-globe"></i> Geographical focus:
    <% if @profile.geographical_focus != "" %>
      <%= @profile.geographical_focus %>
      <% else %>
        No info yet
    <% end %>
  </p>

  <p>
    <i class="fa fa-tree"></i> Investment stage:
    <% if @profile.preferred_investment_stage != "" %>
      <%= @profile.preferred_investment_stage %>
      <% else %>
        No info yet
    <% end %>
  </p>

  <p>
    <i class="fa fa-users"></i> Nb of projects invested in:
    <% if @profile.nb_projects_invested_in != nil %>
      <%= @profile.nb_projects_invested_in %> $
      <% else %>
        No info yet
    <% end %>
  </p>

  <% if @profile.investor_id %>
    <!-- show contact -->
    <div>
      <hr>
      <p><strong>Contact :</strong></p>
      <p>
        <i class="fa fa-user"></i> <%= @profile.contact_person %>
      </p>

      <p>
        <i class="fa fa-envelope-o"></i> &nbsp;
        <% if @profile.contact_email %>
        <%= mail_to @profile.contact_email, @profile.contact_email %>
        <% else %>
        <%= mail_to @profile.email, @profile.email %>
        <% end %>
      </p>
      <p>
        <i class="fa fa-phone"> &nbsp; </i><%= @profile.phone_number %>
      </p>
      <p>
        <i class="fa fa-mobile"></i> <%= @profile.contact_cell_phone %>
      </p>
    </div>
  <% else %>
    <!-- hide contact info -->
  <% end %>

  <hr>
  <p class="text-large text-center">
    <% unless @profile.facebook.nil? || @profile.facebook.empty? %>
      <%= link_to "http://" + @profile.facebook.gsub(/\Ahttps?:\/\//,""), target: "_blank" do %>
        <i class="fa fa-facebook"></i>
      <% end %>
      &nbsp;
    <% end %>
    <% unless @profile.twitter.nil? || @profile.twitter.empty? %>
      <%= link_to "http://" + @profile.twitter.gsub(/\Ahttps?:\/\//,""), target: "_blank" do %>
        <i class="fa fa-twitter"></i>
      <% end %>
      &nbsp;
    <% end %>
    <% unless @profile.linkedin.nil? || @profile.linkedin.empty? %>
      <%= link_to "http://" + @profile.linkedin.gsub(/\Ahttps?:\/\//,""), target: "_blank" do %>
        <i class="fa fa-linkedin"></i>
      <% end %>
      &nbsp;
    <% end %>
    <% unless @profile.angellist.nil? || @profile.angellist.empty? %>
      <%= link_to "http://" + @profile.angellist.gsub(/\Ahttps?:\/\//,""), target: "_blank" do %>
        <i class="fa fa-angellist"></i>
      <% end %>
      &nbsp;
    <% end %>
    <% unless @profile.skype.nil? || @profile.skype.empty? %>
      <%= link_to "skype:#{@profile.skype}?chat", target: "_blank" do %>
        <i class="fa fa-skype"></i>
      <% end %>
      &nbsp;
    <% end %>
  </p>
  <% if current_investor && (current_investor == @profile.investor) || (current_founder && current_founder.admin) %>
    <hr>
    <%= link_to "Edit", edit_investors_profile_path(@profile), class: "btn btn-primary" %>
    <%= link_to "Account settings", edit_investor_registration_path, class: "btn btn-primary" %>
  <% end %>
  <% if current_founder %>
    <%= link_to new_investors_profile_evaluation_path(@profile), {class: 'btn btn-danger'} do %>
      Rate <%= @profile.company_name %>
    <% end %>
  <% end %>
  <br>

</div>
<br>
<div id="evaluations">
  <% if @profile.evaluations.blank? %>

  <% else %>
  <!-- using partial to render the show pages -->
    <% @profile.evaluations.order(created_at: :desc).each do |evaluation| %>
      <%= render 'evaluations/evaluation', evaluation: evaluation %>
    <% end %>
  <% end %>
</div>

<% if current_founder %>
  <%= link_to new_investors_profile_evaluation_path(@profile), {class: 'btn btn-danger btn-sm'} do %>
    Rate <%= @profile.company_name %>
  <% end %>
<% end %>

<%= content_for(:after_js) do %>
  <script>
        $(document).ready(function(){
    $(".popover_form").popover({
      html: true,
      trigger: "hover",
      placement: "top"
    });
  })
  </script>
<% end %>