<% @founders.each do |founder| %>
  <tr>

<!-- =========================
FOUNDER COLUMN
============================== -->
    <td>
      <%= link_to founders_profile_path(founder) do %>
        <%= image_tag founder.image, alt: founder.name, class: "snippet-avatar-3" %>
      <% end %>

      <% if founder.name %>
        <%= link_to founder.name, founders_profile_path(founder) %>
      <% end %>
    </td>

<!-- =========================
WEBSITE COLUMN
============================== -->
    <td class="hide-mobile">
      <% if founder.website %>
        <%= link_to founder.website, "http://" + founder.website.gsub(/\Ahttps?:\/\//,""), target: "_blank" %>
        <% else %>
        <% end %>
    </td>

<!-- =========================
REVIEWS COUNT COLUMN
============================== -->
    <td>
      <%= founder.evaluations.count %>
    </td>



<!-- =========================
COMMENT COUNT COLUMN
============================== -->

    <td>
      <%= founder.comments.count %>
    </td>
  </tr>
<% end %>