<!-- app/views/founders/profile/index.html.erb -->
<!-- <h1 class="text-center">Founders</h1>
<div class="colored-line"></div>
  <br> -->
  <table class="founder-container">
    <thead>
      <th><%= link_to 'Founder <small><i class="fa fa-sort"></i></small>'.html_safe, founders_profile_index_path(order: :last_name), class: "black-text"  %></th>
      <th class="hide-mobile">Website</th>
      <th><%= link_to 'Reviews <small><i class="fa fa-sort"></i></small>'.html_safe, founders_profile_index_path(order: :nb_reviews), class: "black-text" %></th>
      <th><%= link_to 'Comments <small><i class="fa fa-sort"></i></small>'.html_safe, founders_profile_index_path(order: :nb_comments), class: "black-text" %></th>
    </thead>

    <%= render "founder" %>

  </table>

<br>

<% if @founders.count > 25 %>
  <div class="load-more-container text-center">
          <!-- hide our loading gif image so that we show it when making ajax call via jquery -->
    <%= image_tag "ajax-loader.gif", style: "display:none;", class: "loading-gif" %>
    <%= link_to "Load More", founders_profile_index_path, class: "load-more btn btn-primary" %>
  </div>
<% end %>