<!-- app/views/founders/profile/show.html.erb -->
<div class = "img-container img-rounded full-padded">
  <h1 class = "text-center"><%= @founder.name %></h1>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <%= image_tag @founder.image, size: "100x100", alt: @founder.name %>
    </div>
    <div class="col-xs-12 col-sm-9">
      <p>
        <i class="fa fa-globe"></i> <% if @founder.website %>
        <%= link_to @founder.website, "//" + @founder.website.gsub(/\Ahttps?:\/\//,"") %>
        <% end %>
      </p>
      <p>
        <i class="fa fa-phone"> &nbsp; </i><%= @founder.cell_phone %>
      </p>
      <i class="fa fa-envelope-o"> &nbsp;
      </i><%= mail_to @founder.email, @founder.email %>
    </div>
  </div>

  <p class="text-large text-center">
    <% unless @founder.facebook.nil? || @founder.facebook.empty? %>
    <%= link_to "//" + @founder.facebook, target: "_blank" do %>
    <i class="fa fa-facebook"></i>
    <% end %>
    &nbsp;
    <% end %>
    <% unless @founder.twitter.nil? || @founder.twitter.empty? %>
    <%= link_to "//" + @founder.twitter, target: "_blank" do %>
    <i class="fa fa-twitter"></i>
    <% end %>
    &nbsp;
    <% end %>
    <% unless @founder.linkedin.nil? || @founder.linkedin.empty? %>
    <%= link_to "//" + @founder.linkedin, target: "_blank" do %>
    <i class="fa fa-linkedin"></i>
    <% end %>
    &nbsp;
    <% end %>
    <% unless @founder.angellist.nil? || @founder.angellist.empty? %>
    <%= link_to "//" + @founder.angellist, target: "_blank" do %>
    <i class="fa fa-angellist"></i>
    <% end %>
    &nbsp;
    <% end %>
    <% unless @founder.skype.nil? || @founder.skype.empty? %>
    <%= link_to "skype:#{@founder.skype}?chat", target: "_blank" do %>
    <i class="fa fa-skype"></i>
    <% end %>
    &nbsp;
    <% end %>
    <hr>
    <p>
      All my startups: <%= @founder.all_startups %>
    </p>

    <% if current_founder == @founder || (current_founder && current_founder.admin) %>
      <hr>
      <%= link_to "Edit", edit_founders_profile_path(@founder), class: "btn btn-primary" %>
      <%= link_to "Account settings", edit_founder_registration_path, class: "btn btn-primary" %>
    <% end %>
  </div>
  <br>
  <div id="evaluations">
  <% if @founder.evaluations.blank? %>

  <% else %>
  <!-- using partial to render the show pages -->
    <% @founder.evaluations.order(created_at: :desc).each do |evaluation| %>
      <%= render 'evaluations/evaluation', evaluation: evaluation %>
    <% end %>
  <% end %>
</div>