<!-- app/views/founders/profile/show.html.erb -->

<h1>Profile for <%= @founder.name %></h1>

<%= image_tag @founder.image, size: "300x300", alt: @founder.name %>

<p>
  First name: <%= @founder.first_name %>
</p>
<p>
  Last name: <%= @founder.last_name %>
</p>
<p>
  Email: <%= @founder.email %>
</p>
<p>
  FB: <%= @founder.facebook %>
</p>
<p>
  Twitter: <%= @founder.twitter %>
</p>
<p>
  LinkedIn: <%= @founder.linkedin %>
</p>
<p>
  Angel.co: <%= @founder.angellist %>
</p>
<p>
  Skype: <%= @founder.skype %>
</p>
<p>
  Cell phone: <%= @founder.cell_phone %>
</p>
<p>
  Website: <%= @founder.website %>
</p>
<p>
  All my startups: <%= @founder.all_startups %>
</p>

<%= link_to "Edit", edit_founders_profile_path(@founder), class: "btn btn-primary" %>
<%= link_to 'All founders', founders_profile_index_path, class: "btn btn-primary" %>


